body {
    background-color: #f9e0ff ;
    color: #7C5746;
    line-height: 1.4;
}
.text{
     font-size: 1.25rem;
     margin-left: 70px;
     margin-right: 70px;
     width: 400px;
     height: 427px;
}
li{
    margin-block: 5px;  
}
header
{
    text-align: center; 
    border: #7C5746 double 20px; 
    margin: 0%;
}
.two-column-layout{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.pic{
    margin-right: 70px;
    margin-left: 70px;  
}
a{
    color: #7a5c75;
}
h1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f9e0ff;
    background-color: #7C5746;
}
img{
   max-inline-size: 100%; 
   display: block;
}

footer{
    text-align: center;
}
@media (min-width: 500px) {
    img{
        border-radius: 25px;
    }
}