body {
    background-color: #f9e0ff ;
    color: #7C5746;
}
header
{
    text-align: center; 
    border: #7C5746 double 20px; 
    margin: 0%;
}
.two-column-layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
h1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f9e0ff;
    background-color: #7C5746;
}
img{
   max-inline-size: 100%; 
   display: block;
}
footer{
    text-align: center;
}